@import '~bootstrap/scss/bootstrap';

.board {
  border: 1px solid;
  height: 100px;
}

.failure {
  background-color: #F00;
}

.hidden {
  display: none;
}

.small-board {
  border: 1px solid;
  height: 25px;
}

.success {
  background-color: #080;
}

.win-highlight {
  background-color: #009999;
}
