@import '~bootstrap/scss/bootstrap';

.board {
  border: 1px solid;
  font-size: 60px;
  height: 100px;
}

.failure {
  background-color: #F00;
}

.hidden {
  display: none;
}

.o-highlight {
  background-color: #5FA1D3;
  color: #ffffff;
}

.player-x {
  color: #f5535e;
}

.player-o {
  color: #5FA1D3;
}

.small-board {
  border: 1px solid;
  height: 25px;
}

.success {
  background-color: #080;
}

.x-highlight {
  background-color: #f5535e;
  color: #ffffff;
}
