@import 'colors';

$board-color: $pale-grey;
$board-hover: $dark-grey;
$player-o: $light-blue;
$player-x: $pink-red;

header {
  background-color: $player-o;
  color: $white;
  padding: 1em 0;
  text-align: center;
}

nav {
  background-color: $pink-red;
  display: flex;
}

.landing-page {
  width: 75%;
}

.nav-button {
  color: $white;
}

.board {
  align-items: center;
  background-color: $board-color;
  border-bottom: 4px solid $white;
  border-right: 4px solid $white;
  display: flex;
  font-size: 20vmin;
  height: calc(100% / 3);
  justify-content: center;

  &:nth-child(3n) {
    border-right: 0;
  }

  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }
}

.board-rows {
  align-items: center;
  justify-content: center;
  margin: auto;
  right: 0;
}

.game-board {
  width: 100vmin;
}


.o-highlight {
  background-color: $player-o;
  color: $white;
}

.player-x {
  color: $player-x;
}

.player-o {
  color: $player-o;
}

.small-board {
  background-color: $board-color;
  border: 1px solid $white;
  font-size: 16px;
  height: 26px;
  text-align: center;
}

.x-highlight {
  background-color: $player-x;
  color: $white;
}

@media (min-width: 576px) {
  .board {

    &:hover {
      background-color: $dark-grey;
    }
  }

  .landing-page {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .small-board {
    font-size: 25px;
    height: 64px;
  }
}

@media (min-width: 992px) {
  .landing-page {
    width: calc(100% / 3);
  }
}
